// ==========================================================================
// Snow Monkey テーマのフッターの上書き
// ==========================================================================

.c-page-top{
	a{
		background: rgb(7,86,150);
		background: -webkit-linear-gradient(135deg, rgba(7,86,150,1) 0%,rgba(113,58,124,1) 100%);
		background: linear-gradient(135deg,  rgba(7,86,150,1) 0%,rgba(113,58,124,1) 100%);
	}
}

.c-copyright{
	.c-container{
		display: flex;
		justify-content: center;
		font-size: 0.7em;
	}
}