// ==========================================================================
// Snow Monkey テーマのグローバルナビゲーションを上書き
// ==========================================================================
.p-global-nav:not(:root) .c-navbar__item{
	&[data-active-menu] > a {
		color: #000;
	}
	> a{
		padding: 1em 1.25em;
		font-size: 0.75em;
	}
}